@charset "UTF-8";
/* CSS GLOBAL Document */

// Sass Variables
$lochmara: rgb(5, 115, 186);
$malibu: rgb(88, 207, 246);
$mineShaft: rgb(52, 52, 52);
$jungleMist: rgb(189, 209, 218);
$white: rgb(255, 255, 255);

$libreBaskerville: "LibreBaskerville";
$roboto: "Roboto";

@font-face {
   font-family: "LibreBaskerville";
   src: url("../webfonts/LibreBaskerville-Regular/LibreBaskerville-Regular.eot");
   src: url("../webfonts/LibreBaskerville-Regular/LibreBaskerville-Regular.eot?#iefix") format("embedded-opentype"),
      url("../webfonts/LibreBaskerville-Regular/LibreBaskerville-Regular.otf") format("opentype"),
      url("../webfonts/LibreBaskerville-Regular/LibreBaskerville-Regular.svg") format("svg"),
      url("../webfonts/LibreBaskerville-Regular/LibreBaskerville-Regular.ttf") format("truetype"),
      url("../webfonts/LibreBaskerville-Regular/LibreBaskerville-Regular.woff") format("woff"),
      url("../webfonts/LibreBaskerville-Regular/LibreBaskerville-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Roboto";
   src: url("../webfonts/Roboto-Regular/Roboto-Regular.eot");
   src: url("../webfonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
      url("../webfonts/Roboto-Regular/Roboto-Regular.otf") format("opentype"),
      url("../webfonts/Roboto-Regular/Roboto-Regular.svg") format("svg"),
      url("../webfonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"),
      url("../webfonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
      url("../webfonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

/*GLOBAL */
* {
   box-sizing: border-box;
   outline: none;
}

html {
   /* Position */
   /* Display */
   margin: 0 auto;
   /* Text */
   font-size: 62.5%;
   /* Decoration */
}

body {
   line-height: 2rem;

   font-family: $roboto, serif;
   font-size: 1.5rem;

   color: $mineShaft;
}

a {
   text-decoration: none;
}

h1, h2, h3 {
   font-weight: normal;
   text-align: center;
}

/* HEADER */
header {
   max-height: 52rem;

   font-family: $libreBaskerville, serif;
   text-align: center;

   background-image: url(../img/divers/ciel-bleu.jpeg);
   background-size: cover;
   background-position: center;

   /* NAV */
   nav {
      display: flex;
      flex-direction: column;
      padding: 2.5rem;

      background-color: rgba(255,255,255,0.3);

      .logo {
         flex-grow: 1;

         a {
            img {
               height: 6.5rem;
            }

            .logoTitle {
               margin: 0 0.5rem 0 1rem;
               line-height: 3.5rem;

               font-family: $libreBaskerville, serif;
               font-size: 1.5rem;
               font-weight: 1000;
               font-style: italic;

               color: $lochmara;
            }
         }
      }

      .navMenu {
         display: flex;
         flex-direction: column;
         line-height: 5rem;

         font-size: 1rem;

         .search {
            width: 22rem;
            margin: auto;

            font-family: $roboto, serif;

            form {
               input {
                  height: 2.5rem;
                  width: 18rem;

                  font-size: 1.33rem;

                  border-radius: 2px 0 0 2px;
                  border: 1px solid $malibu;
               }

               button {
                  height: 2.5rem;
                  margin-left: -0.42rem;

                  font-size: 1.33rem;

                  color: #EEEEEE;
                  background-color: $malibu;
                  border-radius: 0 2px 2px 0;
                  border: 1px solid $malibu;
                  cursor: pointer;
               }
            }
         }

         div {
            margin: auto;

            ul {
               margin-top: auto;
               padding: 0;
               line-height: 2.7rem;

               text-transform: uppercase;

               li {
                  display: inline-block;

                  list-style: none;

                  a {
                     font-family: $libreBaskerville, serif;
                     text-shadow: 2px 2px 10px rgba(0,0,0,1);

                     color: $white;
                     transition-duration: 0.15s;
                  }
               }
            }

            ul li:hover a {
               text-shadow: initial;

               color: $lochmara;
            }
         }
      }

      a {
         display: inline-block;
         margin: 0 1rem;
         vertical-align: middle;

         font-family: $roboto, serif;
         font-size: 1.5em;
         text-align: center;

         color: $mineShaft;
      }

      a .fa {
         display: block;
      }
   }

   .announcement {
      padding: 0.5rem;
      margin: 0;

      font-size: 1.3rem;
      text-align: center;
      text-shadow: 2px 2px 10px rgba(0,0,0,1);

      color: $white;
      background-color: rgba(255,255,255,0.15);
   }

   .announcement strong {
      font-weight: normal;
   }

   .presentation {
      padding: 2.5rem 0 30rem;

      font-size: 1.9rem;
      text-shadow: 2px 2px 10px rgba(0,0,0,0.5);

      color: $white;
   }
}

/* INDEX.HTML PAGE */
/* MAIN */
.homepageContainer {
   margin-top: -1.8rem;

   // Slider
   .slider {
      display: flex;
      
      height: 30rem;

      background-image: url(../img/programme/RequinRoll-4.jpeg);
      background-position: center;
      background-size: cover;


      .titreSlider {
         width: 22rem;
         margin: auto;
         padding: 1rem 0;
         line-height: 3rem;
         overflow: hidden;
         z-index: 1;

         font-size: 70%;
         font-weight: 1000;
         text-transform: uppercase;
         text-align: center;

         background-color: rgba(255, 255, 255, 0.9);
         opacity: 1;
         transition: all ease-in-out 0.5s;
         -webkit-transition: all ease-in-out 0.5s;

         h1 {
            margin-top: 1rem;
         }

         hr {
            height: 1px;
            max-width: 5rem;
            margin: 1.4rem auto;

            background-color: $jungleMist;
            border: none;
         }

         .button {
            display: block;
            height: 2.5rem;
            width: 14rem;
            margin: 1.5rem auto;
            padding-bottom: 2.9rem;

            font-size: 1.1rem;
            text-transform: uppercase;

            color: #ffffff;
            background-color: $jungleMist;
            border-radius: 3px;
            transition-duration: 0.2s;
         }

         .button:hover {
            background-color: $malibu;
            cursor: pointer;
         }
      }
   }

   .slider:hover {
      .titreSlider {
         opacity: 0;
      }

      .titreSlider:hover {
         opacity: 1;
      }
   }

   .news {
      margin-top: 5rem;

      h1 {
         display: table;
         width: 100%;
         max-width: 57rem;
         margin: 0 auto 3.5rem;

         span {
            position: relative;

            display: table;
            margin: 0 auto -1.2rem;
            padding: 0 1.5rem;
            z-index: 1;

            text-transform: uppercase;

            background-color: rgb(255, 255, 255);
         }
      }

      h1::after {
         display: block;
         margin-top: -1rem;

         content: "";
         border-top: 1px solid rgb(221, 221, 221);
      }

      .displayMovies {
         display: flex;
         flex-direction: column;

         div {
            text-align: center;

            a img {
               height: 33rem;
               width: 27.5rem;
               object-fit: cover;
            }

            h3 {
               margin-top: 1rem;

               font-weight: 600;
            }

            span {
               display: block;
               margin: 1rem 0;
            }
         }

         div:first-child + div, div:first-child + div + div {
            margin-top: 2rem;
         }
      }
   }

   .newsletter {
      margin: 3rem auto 0;

      div {
         margin-bottom: 4rem;

         font-family: $roboto, serif;

         form {
            text-align: center;

            input {
               height: 3.5rem;
               width: 22rem;

               font-size: 1.33rem;

               border-radius: 2px 0 0 2px;
               border: 1px solid $malibu;
            }

            button {
               height: 3.5rem;
               margin-left: -0.42rem;

               font-size: 1.33rem;

               color: #EEEEEE;
               background-color: $malibu;
               border-radius: 0 2px 2px 0;
               border: 1px solid $malibu;
               cursor: pointer;
            }
         }
      }
   }

   section iframe {
      width: 100%;
   }
}

/* FOOTER */
.licence {
   margin-top: -0.5rem;
   line-height: 2rem;

   text-align: center;

   color: $white;
   background-image: url(../img/divers/ciel-bleu-01.jpeg);

   div {
      display: flex;
      flex-direction: column;

      background-color: rgba(255,255,255,0.1);


      div {
         background-color: rgba(255, 255, 255, 0);

         img {
            height: 6.5rem;
            margin: 2.1rem auto 2rem;
         }
      }

      div:first-child + div, div:first-child + div + div {
         margin: auto 0;

         background-color: rgba(255, 255, 255, 0);
      }

      div:first-child + div {
         white-space: pre-line;

         p {
            margin-top: 0;
         }
      }

      div:first-child + div + div p {
         margin-top: 0;

         a {
            text-decoration: underline;

            color: $white;
         }
      }
   }
}

// BREADCRUMB
.filAriane {
   margin: -1.3rem auto 3rem -1.8rem;
   padding: 0.1rem 0 2.5rem;
   line-height: 1.15rem;

   font-size: 1.3rem;
   font-weight: 100;
   
   background-color: rgb(250, 250, 250);

   ul {
      max-width: 120rem;
      margin-left: auto;
      margin-right: auto;

      li {
          float: left;
          position: relative;

          margin-right: 2.4rem;

         list-style: none;

         a {
            text-decoration: none;
            
            color: rgb(33, 37, 41);
         }

         .home::before {
            padding-right: 0.5rem;

            font-family: "Font Awesome 5 Free";
            font-size: 1.3rem;
            font-weight: 900;

            content: "\F3E5";
         }
      }

      .titreFil300 {
         display: none;
      }
   }

   ul li a::after {
      position: absolute;
      right: -1.5rem;

      color: #333;

      content: "/";
   }

   ul li a:hover {
      color: $malibu;
   }
}

/* PROGRAM.HTML PAGE */
/* MAIN */
.programContainer {
   h2 {
      margin: 2.5rem 0;
      line-height: 3rem;

      color: $lochmara;
      font-size: 3rem;
   }

   .displayProgram {
      display: flex;
      flex-direction: column;
      margin: 0 auto 2.5rem;

      border-collapse: collapse;

      h3 {
         width: 91.6%;
         margin: 0 auto;
         padding: 1rem 2.5rem;

         font-size: 2.2rem;
         font-weight: normal;
         text-align: center;

         color: white;
         background-color: $malibu;
         border: 1px solid $malibu;
      }

      div {
         text-align: center;

         span:nth-child(even) {
            background-color: #f2f2f2;
         }

         span:nth-child(odd) {
            background-color: #FAFAFA;
         }

         span:first-child {
            font-weight: 1000;

            background-color: initial;
         }

         span:first-child + span {
            padding: initial;

            background-color: initial;
         }

         span:last-child {
            background-color: initial;
         }

         span {
            display: block;
            width: 91.6%;
            margin: 1rem auto;
            padding: 1rem;

            text-align: center;

            a img {
               height: 33rem;
               width: 27.5rem;
               object-fit: cover;
            }

            .button {
               display: block;
               height: 2.5rem;
               width: 14rem;
               margin: 0 auto;
               padding: 0.5rem 0 2.5rem;

               font-size: 1.1rem;
               text-transform: uppercase;

               color: #ffffff;
               background-color: $jungleMist;
               border-radius: 3px;
               transition-duration: 0.2s;
            }

            .button:hover {
               background-color: $malibu;
               cursor: pointer;
            }
         }
      }

      h3 + div + div, h3 + div + div + div {
         margin-top: 0;
      }
   }
}

/* REGISTRATION.HTML PAGE */
/* MAIN */
.bookingContainer {
   form {
      table {
         width: 90%;
         margin: 0 auto 2.5rem;

         border-collapse: collapse;

         caption {
            margin-bottom: 2.5rem;
            line-height: 3rem;

            color: $lochmara;
            font-size: 3rem;
         }

         thead {
            tr:first-child th {
               padding: 1rem 2.5rem;

               font-size: 2.2rem;
               font-weight: normal;
               text-align: left;

               color: white;
               background-color: $malibu;
               border: 1px solid $malibu;
            }

            tr {
               th:first-child {
                  text-align: left;
               }

               th {
                  padding: 1rem;

                  border: 1px solid $jungleMist;
               }
            }
         }

         tbody {
            tr:nth-child(even) {
               background-color: #f2f2f2;
            }

            tr:nth-child(odd) {
               background-color: #FAFAFA;
            }

            tr {
               td:first-child {
                  text-align: left;
               }

               td {
                  width: 33%;
                  padding: 1rem;

                  text-align: center;

                  border: 1px solid $jungleMist;

                  a {
                     color: $mineShaft;
                  }
               }
            }
         }
      }

      /* SECTION INFO */
      .info {
         text-align: center;

         h2 {
            padding: 1rem 0;
            line-height: 2.5rem;

            color: $lochmara;
         }

         fieldset {
            width: 90%;
            margin: 2.5rem auto;
            padding: 2.5rem 0;

            border: 1px solid #dedede;

            legend {
               margin: 0 auto;

               font-size: 1.5em;
            }

            ul {
               padding-left: 0;

               li {
                  display: inline-block;
                  padding: 0.5rem;

                  input[type=text] {
                     width: 50%;
                     padding: 0.5rem;

                     background-color: $white;
                     border: 0;
                     border-bottom: 1px solid #dedede;
                  }
               }
            }

            select {
               width: 95%;
               margin: 2.5%;
               padding: 1rem;

               font-family: sans-serif;

               option {
                  font-family: sans-serif;
               }
            }
         }

         h2 + fieldset, h2 + fieldset + fieldset {
            ul li {
               display: block;
            }
         }

         button {
            margin-bottom: 3rem;
            padding: 1rem 2.5rem;

            color: $white;
            background-color: $jungleMist;
            border: 0;
            transition-duration: 0.2s;
         }

         button:hover {
            background-color: $malibu;
            cursor: pointer;
         }
      }
   }
}

/* PAGE CONTACT.PHP */
/* MAIN */
.contactContainer {
   max-width: 115rem;
   margin: 0 auto;
   padding: 0.5rem;

   text-align: center;

   h5 {
      display: table;
      width: 100%;
      max-width: 57rem;
      margin: 2.5rem auto 3.5rem;

      span {
         position: relative;

         display: table;
         margin: 0 auto -1.2rem;
         padding: 0 1.5rem;
         z-index: 1;

         font-size: 2.1rem;
         font-weight: bold;
         text-transform: uppercase;

         color: $lochmara;
         background-color: rgb(255, 255, 255);
      }
   }

   h5::after {
      display: block;
      margin-top: -1rem;

      content: "";
      border-top: 1px solid rgb(221, 221, 221);
   }

   form {
      input {
         height: 3rem;
         width: 30%;
         margin: 1.5rem 0 1rem;
         padding-left: 0.5rem;

         border-radius: 2px;
         border: 1px solid #d2d2d2;
      }

      input::placeholder {
         font-style: italic;
      }
      
      .subject {
         width: 60.3%;
         margin-top: 2rem;
      }

      textarea {
         width: 60.3%;
         margin: 2rem 0 1rem;
         padding: 0.5rem;

         border-radius: 2px;
         border: 1px solid #d2d2d2;
      }

      textarea::placeholder {
         font-style: italic;
      }

      button {
         margin: 1.5rem 0 2.5rem;
         padding: 1rem 2.5rem;

         color: $white;
         background-color: $jungleMist;
         border: 0;
         transition-duration: 0.2s;
      }

      button:hover {
         background-color: $malibu;
         cursor: pointer;
      }

      p {
         margin: 1rem auto 0.5rem;

         color: rgb(255, 0, 0);
      }
   }
}

@media screen and (min-width: 992px) {
   /* HEADER */
   header {
      .presentation {
         padding-top: 5rem;
      }
   }

   /* INDEX.HTML PAGE */
   /* MAIN */
   .homepageContainer {
      // Slider
      .slider {
         height: 40rem;

         .titreSlider {
            width: 36rem;
            padding: 5rem 0;

            font-size: 100%;
         }
      }

      .news .displayMovies {
         flex-direction: initial;
         justify-content: space-around;

         div:first-child + div, div:first-child + div + div {
            margin-top: initial;
         }
      }
   }

   /* FOOTER */
   .licence div div:first-child + div {
      line-height: 2.5rem;
   }

   /* PAGE-INTROUVABLE.HTML */
   // BREADCRUMB
   .filAriane {
      margin: -1.8rem auto 3rem;
      padding: 0.1rem 1.5rem 3.5rem;
      line-height: 2rem;
   }

   /* PROGRAM.HTML PAGE */
   /* MAIN */
   .programContainer {
      h2 {
         width: 100%;
         max-width: 57rem;
         margin: 5.5rem auto 4.4rem;
         line-height: 2rem;

         span {
            margin: 0 auto -1.2rem;
            padding: 0 1.5rem;
            z-index: 1;

            background-color: rgb(255, 255, 255);
         }
      }

      h2::after {
         display: block;
         margin-top: -1rem;

         content: "";
         border-top: 1px solid rgb(221, 221, 221);
      }

      .displayProgram {
         flex-wrap: wrap;
         flex-direction: initial;
         justify-content: space-around;

         h3 {
            width: 92.6%;
         }

         div span {
            width: 100%;
            margin: 1rem 0;
         }

         h3 + div + div, h3 + div + div + div {
            margin-top: initial;
         }
      }
   }

   /* REGISTRATION.HTML PAGE */
   /* MAIN */
   .bookingContainer {
      form {
         table {
            caption {
               width: 100%;
               max-width: 57rem;
               margin-bottom: 4.4rem;
               line-height: 2rem;

               span {
                  margin: 0 auto -1.2rem;
                  padding: 0 1.5rem;
                  z-index: 1;

                  background-color: rgb(255, 255, 255);
               }
            }

            caption::after {
               display: block;
               margin-top: -1rem;

               content: "";
               border-top: 1px solid rgb(221, 221, 221);
            }
         }

         /* SECTION INFO */
         .info {
            h2 {
               padding: 2rem 0;
               line-height: 2rem;
            }

            fieldset ul li input[type=text] {
               width: 30%;
            }

            fieldset {
               ul {
                  padding-left: initial;

                  li {
                     display: inline-block;

                     label {
                        margin-left: 2.5rem;
                     }
                  }
               }
            }

            h2 + fieldset + fieldset {
               ul li {
                  display: inline-block;
               }
            }
         }
      }
   }

   /* PAGE CONTACT.PHP */
   /* MAIN */
   .contactContainer {
      margin-bottom: 9.5rem;

      h5 {
         margin-bottom: 4.5rem;
      }
   }
}

@media screen and (min-width: 1280px) {
   /* HEADER */
   header {
      max-height: initial;

      text-align: initial;

      /* NAV */
      nav {
         flex-direction: initial;

         .navMenu {
            flex-direction: initial;

            div ul {
               margin: auto;
            }
         }
      }

      .announcement {
         font-size: 1.6rem;
      }

      .presentation {
         font-size: 2.6rem;
      }
   }

   /* INDEX.HTML PAGE */
   /* MAIN */
   .homepageContainer {
      // Slider
      .slider {
         height: 50rem;
      }

      .news .displayMovies {
         div a img {
            height: 50rem;
            width: 37rem;
         }
      }
   }

   /* PROGRAM.HTML PAGE */
   /* MAIN */
   .programContainer {
      .displayProgram {
         div span a img {
            height: 50rem;
            width: 37rem;
         }
      }
   }

   /* REGISTRATION.HTML PAGE */
   /* MAIN */
   .bookingContainer {
      form {
         /* SECTION INFO */
         .info {
            fieldset ul li input[type=text] {
               width: 50%;
            }

            h2 + fieldset ul li {
               display: inline-block;
            }
         }
      }
   }
}